<!-- left half display -->
<div class="bg-slate-300 col-span-8 sm:col-span-4 h-min sm:h-full">
    <app-display-lhs class="w-full grid grid-rows-2"></app-display-lhs>
</div>




<!-- pic div -->
<div class="bg-img col-span-2 sm:col-span-2 flex justify-end bg-slate-300 h-auto sm:h-full">
    <div class="pic-div h-auto w-[55%]">

    </div>
</div>




<!-- right half display -->

<!-- #222222 - is the dark -->
<div class="bg-[#222222] col-span-10 sm:col-span-4 sm:h-full">
    <app-display-rhs class="flex h-full w-full" [selectedTab]="selectedTab"></app-display-rhs>
</div>