.bg-img {
    background-image: url(/assets/better-cropped-remove-bg.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: bottom left;

    @media (min-width: 650px) {
        background-size: 75%;
    }

    @media (min-width: 1400px) {
        background-size: 70%;
    }
}


.pic-div {
    border-left-width: 10vw;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom-width: 82vh;
    border-bottom-style: solid;
    border-bottom-color: #222222;

    @media (min-width: 650px) {
        border-bottom-width: 90vh;
    }
}

/* Center the download button and style it */
.download-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.download-button {
    background-color: #1d4ed8; /* Blue background */
    color: white; /* White text */
    padding: 0.5rem 1rem; /* Padding for the button */
    border-radius: 0.375rem; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Font size */
    font-weight: 500; /* Medium font weight */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.download-button:hover {
    background-color: #2563eb; /* Darker blue on hover */
}