<div class="flex items-center justify-center columns-3 gap-3 sm:gap-6">
    <div>
        <mat-icon class="social-icons text-[#f44236]" svgIcon="gmail"></mat-icon>
    </div>

    <div>
        <mat-icon class="social-icons" svgIcon="github"></mat-icon>
    </div>

    <div>
        <mat-icon class="social-icons text-[#0078b7]" svgIcon="linkedin"></mat-icon>
    </div>
</div>

<div class="bg-[#222222] sm:self-end flex items-center justify-center h-1/2 sm:h-4/5 aspect-square sm:aspect-video drop-shadow-xl 
            transition ease-in-out delay-150 hover:-translate-x-7">

    <span class="sm:text-4xl text-[#ffffff] subpixel-antialiased font-medium">A.</span>
</div>

<div class="text-[#222222] h-4/5 columns-3 sm:text-xl gap-3 sm:gap-8 flex items-center">
    <div>
        <span>Experience</span>
    </div>

    <div>
        <span>Skill-stack</span>
    </div>

    <div>
        <span>Resume</span>
    </div>

</div>