<div class="grid grid-rows-3 h-min px-6">
    <div class="flex justify-center h-min items-center">
        <span class="text-2xl sm:text-4xl text-center">Hi,</span>
    </div>

    <div class="flex justify-center items-center">
        <span class="text-2xl sm:text-4xl text-center">my name is Abrar and I'm a Software developer</span>
    </div>

    <div class="flex justify-center items-center">
        <!-- <span class="text-2xl text-center">Lorem epsum is a message</span> -->
    </div>
</div>




<div class="h-[100%] flex items-center self-end px-6">
    <div>
        <p class="text-sm sm:text-lg">I have 5 years of over all experience in development which includes extensive work
            in
            making modern
            interactive webpages using JavaScript/TypeScript framworks like Angular.
        </p>

        <p class="text-sm sm:text-lg">
            I also have varied experience in backend
            technologies as well viz. nodejs and Java frameworks like spring boot.
        </p>
    </div>
</div>