<div class="grid grid-rows-3 h-min px-6">
    <div class="flex justify-center h-min items-center">
        <span class="text-2xl sm:text-4xl text-center">Hi,</span>
    </div>

    <div class="flex justify-center items-center">
        <span class="text-2xl sm:text-4xl text-center">my name is Abrar and I'm a Software developer</span>
    </div>

    <div class="flex justify-center items-center">
        <!-- <span class="text-2xl text-center">Lorem epsum is a message</span> -->
    </div>
</div>




<div class="h-[100%] flex items-center self-end px-6">
    <div>
        <p class="text-sm sm:text-lg">A seasoned Full-Stack Developer with 6+ years of experience, I am proficient in
            crafting innovative web applications. I excel in leveraging modern JavaScript frameworks such as Angular and
            TypeScript to build dynamic and user-centric front-end interfaces. </p>

        <p class="text-sm sm:text-lg">My backend development skills encompass Node.js for server-side scripting and
            Java-based frameworks like Spring Boot for robust and scalable applications.
        </p>
    </div>
</div>